<div class="d-flex flex-row align-items-center m-4">
  <h1>Welcome back, {{username}}!</h1>

  <form action="/logout">
    <div class="ml-4">
      <button class="btn btn-secondary" type="submit">Sign out</button>
    </div>
  </form>
</div>